/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTAINER STYLES */

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 500px;
  flex-wrap: wrap;
  background-color: #009688;
  background-image: linear-gradient(to bottom right, #00B9FF, #0b5292, #a70074);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 1px rgba(74, 74, 74, 0.2);
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 500px;
}

/* HEADER STYLES */

header {
  color: #f5f5f5;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 500px;
}

/* STOPWATCH */

#stopwatch-display {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  font-size: 32px;
  width: 500px;
  padding: 25px;
}

/* BUTTONS */

#start-button,
#stop-button,
#reset-button {
  display: block;
  height: 75px;
  width: 75px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  background-color: #0b5292;
  /* background-image: linear-gradient(to bottom right, #00B9FF, #a70074); */
  color: #f5f5f5;
  /* border: 2px solid #00B9FF; */
  box-shadow: inset 0px 0px 0px 1px #f5f5f5;
}

#start-button:hover,
#stop-button:hover,
#reset-button:hover {
  color: #00B9FF  ;
  cursor: pointer;
  background-color: #f5f5f5;
  /* background-image: linear-gradient(to bottom right, #f5f5f5, #f5f5f5); */
  border: 2px solid #f5f5f5;
  box-shadow: inset 0px 0px 0px 1px #00B9FF;
}

/* .color-1 {
  background-color: #009688;
  width: 200px;
  height: 200px;
}

.color-2 {
  background-color: #35a79c;
  width: 200px;
  height: 200px;
}

.color-3 {
  background-color: #54b2a9;
  width: 200px;
  height: 200px;
}

.color-4 {
  background-color: #65c3ba;
  width: 200px;
  height: 200px;
}

.color-5 {
  background-color: #83d0c9;
  width: 200px;
  height: 200px;
} */
